MYSQL_HOST=sh-cynosdbmysql-grp-b0cmf872.sql.tencentcdb.com
MYSQL_USER=root
MYSQL_PASSWORD=bingyi.1314
MYSQL_PORT=28141
MYSQL_DB=fastapi

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB_DEFAULT=0
REDIS_DB_CODE=1


MY_CLOUD_SERVER_HOST=39.96.162.54


