
@mixin line-height-center($x) {
    height: $x;
    line-height: $x;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin abs-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin border1px($color) {
    border: 1px solid $color;
}


@mixin abs-pos($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}




